body {
  font-family: 'Fira Code', monospace;
}

.olympics-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip-001 {
  border: 2px solid #000;
  width: 300px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.tooltip-country {
  margin-block-end: 3px;
}
